body {
    margin: 0;
    font-family: tahoma;
}
.header-area {
    overflow: hidden;
    padding: 50px 0;
}
.container {
    width: 80%;
    margin: auto;
}
.content {
    text-align: center;
}
.content h3 {
    font-size: 40px;
    color: blueviolet;
}
.helf-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5px;
}
.helf-width img {
    width: 100%;
}
.about {

}
.button {
    background: burlywood;
    color: brown;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
h1 {
    font-size: 40px;
    color: burlywood;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: brown;
}
p {
    line-height: 2em;
    color: gray;
    text-align: justify;
}
/**about**/
.about {
    background-image: linear-gradient(blue, green);
    overflow: hidden;
}
.about h1 {
    color:brown;
}
.about p {
    color:aqua;
}
.curcle {
    
    box-shadow: 3px 6px 10px gray;
    text-align: center;
    padding: 20px 30px;
}
section {
    padding: 50px 0;
}

/**log**/
.login {
    background: gray;
    overflow: hidden;
}
.log {
    text-align: center;
}
input[type=email] {
    margin: 10px 0;
    width: 50%;
}
.login input[type=email],
input[type=submit] {
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}
.footer-area {
    background: bisque;
    overflow: hidden;
    padding:20px;
}
.footer-area p{
    text-align: center;
}